[user]
	name = fettinger-m
	email = max.fettinger@icloud.com
[init]
	defaultBranch = master
[core]
	excludesFile = ~/.gitignore

[includeIf "gitdir:~/dev/studass/"]
    path = ~/dev/studass/.gitconfig