#!/usr/bin/env bash

# Change standard program for file ending
# Arg 1  is file ending e.g. "pdf", Arg 2 is app name e.g. "Preview"
function cfe() {
    local id=$(osascript -e "id of app \"$2\"")
    duti -s "$id" .$1 all
}

# Change working directory to the top-most Finder window location
function cdf() { # short for `cdfinder`
	cd "$(osascript -e 'tell app "Finder" to POSIX path of (insertion location as alias)')";
}


mkcd ()
{
    mkdir -p -- "$1" &&
       cd -P -- "$1"
}